@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300&display=swap');

.app__header {
    height: 60px;
    display: flex;
    background-color: #9EDEF9;
}

.app__title {
    font-weight: bold;
    font-size: 28px;
    line-height: 37px;
    margin: 0 50px;
}

.app__menu {
    display: flex;
    font-weight: bold;
    font-size: 28px;
    line-height: 37px;
    margin: 0 50px;
}
